#title {
  font-family: "Berkshire Swash", verdana, arial, helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

#source{
  position: absolute;
  right: 0px;
  color:inherit;
  text-decoration: none;
}

#blank {
  font-family: "Courgette", "Berkshire Swash", verdana, arial, helvetica, sans-serif;
  font-size: 32px;
  margin-top: 5px;
}

#header {
  position: relative;
}

.recommendation {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #d6dee0;
  margin: 5px;
}

.recommendations {
  font-size: 16px;
  font-family: "Roboto", verdana, arial, helvetica, sans-serif;
  word-wrap: break-word;
}