.center {
  margin-left:auto;
  margin-right:auto;
  width: 30%;
}

#title {
  font-family: "Berkshire Swash", verdana, arial, helvetica, sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 20px;
}

.source {
  position: absolute;
  top: 0px;
  right: 0px;
}

#blank {
  font-family: "Courgette", "Berkshire Swash", verdana, arial, helvetica, sans-serif;
  font-size: 32px;
  margin-top: 5px;
}

.recommendations {
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  word-wrap: break-word;
}

.recommendation {
  position: relative;
  padding: 12px;
  border: 2px solid #d6dee0;
  margin: 5px;
}