<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title th:text="'If You Like ' + ${blank}">If You Like &ltBlank&gt</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    <div class="center">
        <h1 id="title"  th:text="'If you like ' + ${blank}"></h1>
        <div class="recommendations">
            <p th:each="comment : ${comments}"
               th:text="${comment}"
               class="recommendation">
            </p>
        </div>
    </div>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
    </body>
</html>