<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>If You Like &lt;Blank&gt;</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    <div class="center">
        <h1 id="title">Recommendations</h1>
        <div class="recommendations">
            <p th:each="comment : ${comments}"
               th:text="${comment}"
               class="recommendation">
            </p>
        </div>
    </div>
    <div id="react"></div>
    <script src="built/bundle.js"></script>
    </body>
</html>