<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>If You Like &lt;Blank&gt;</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    <style>
      table.center {
        margin-left:auto;
        margin-right:auto;
        width: 25%;
      }
    </style>

    <table class="center">
        <tr>
            <th>Recommendations from Reddit Comments</th>
        </tr>
        <tr th:each="comment : ${comments}" >
            <td th:text="${comment}"></td>
        </tr>
    </table>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

    </body>
</html>